body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.authBox{
  width:300px;
  margin:100px auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.container{
  display:flex;
  height:100vh;
}

.sidebar{
  width:220px;
  background:#1e293b;
  padding:10px;
}

.chatArea{
  flex:1;
  display:flex;
  flex-direction:column;
}

#messages{
  flex:1;
  padding:10px;
  overflow:auto;
}

.inputArea{
  display:flex;
  padding:10px;
  background:#1e293b;
}

input{
  flex:1;
  padding:8px;
}

button{
  margin-left:5px;
}
